<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1>New Home Page Feature</h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @home_page_feature } %>

<%= form_for [:admin, @home_page_feature], url: spree.admin_home_page_features_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links', locals: { collection_url: spree.admin_home_page_features_path } %>
<% end %>
